<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Mitchell Careers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div id="container">
      <h1>Mitchell Careers</h1>
      <img id="banner" src="https://fcc-careers-website.mitchellspangler.repl.co/static/career.jpg" alt="career-banner">
  
      <h2>About Mitchell</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt tortor aliquam nulla facilisi cras fermentum odio eu. Magna etiam tempor orci eu lobortis elementum nibh tellus molestie. Lorem donec massa sapien faucibus et molestie ac. Risus commodo viverra maecenas accumsan. Nec ultrices dui sapien eget mi proin sed libero. Scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Cras ornare arcu dui vivamus. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas. Vel fringilla est ullamcorper eget nulla facilisi etiam.</p>
  
      <h2>Open Positions</h2>
      <p>TODO - Show the jobs here</p>
      <div class="text-center">
        <button>Contact Us</button>
        <p class="small-text">Copyright 2022, Jovian</p>
      </div>
      
    </div>
    
  </body>
</html>